@import "./global.scss";

.app {
	overflow: hidden;
}

.search-input-container {
	display: flex;
	justify-content: center;
	padding: 30px 20px;
}

.search-input {
	min-height: 40px;
	border: 1px solid #c8c8c8;
	font-size: 16px;
	display: inline-flex;
	align-items: center;
	padding: 0 20px;
	min-width: 300px;
}

.search-input-btn {
	min-height: 60px;
	margin: 0px 0px 0px 10px;
	font-size: 16px;
	min-width: 100px;
	min-height: 40px;
	background-color: #ffba00;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	border: none;
}

.result-container {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -2.5px;
}

.image-container {
	flex: 0 1 20%;
	padding: 2.5px;
	@media (max-width: 768px) {
		flex: 0 1 50%;
	}
	img {
		width: 100%;
	}
}

.loader-container {
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	img {
		max-width: 40px;
	}
}
.error-container {
	font-size: 16px;
	text-align: center;
	padding: 20px;
}
